.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #f4f7f6;
}

.mainContent {
  padding: 2rem;
  flex: 1;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
